<section class="thirteen columns">
    <h1>Awards</h1>
    <article>
        <header>
        <h5>Gold Medal, 
            34th International Physics Olympiad </h5>
            <span><address>Taiwan</address><time>2003</time></span>
        </header>
    </article>
    <article>
        <header>
        <h5>FYF Doctoral Fellowship, 
            University of British Columbia</h5>
            <span><address>Vancouver, CA</address><time>2010</time></span>
        </header>
    </article>
    <article>
        <header>
        <h5>Faculty of Science Award, 
            UBC</h5>
            <span><address>Vancouver, CA</address><time>2009</time></span>
        </header>
    </article>
    <article>
        <header>
        <h5>Physics Distinguished Grad. Scholarship, 
            UBC</h5>
            <span><address>Vancouver, CA</address><time>2008</time></span>
        </header>
    </article>



</section>

