<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Physics</h1>
            <span>University of British Columbia</span>
            <span><address>Vancouver, CA</address><time>2010 to 2015</time></span>
        </header>
        <p>
        <em>Thesis: Numerical Studies in Gravitational Collapse</em><a target="_blank" href="http://laplace.phas.ubc.ca/People/arman/ubc_2016_february_akbariankaljahi_arman.pdf">[+]</a>
        </p>
    </article>
</section>
