<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD, Computational Physics</h1>
            <span>University of British Columbia</span>
            <span><address>Vancouver, CA</address><time>2010 to 2015</time></span>
        </header>
        <p>
        Thesis: <em>Numerical Studies in Gravitational Collapse</em> <a target="_blank" href="http://laplace.phas.ubc.ca/People/arman/ubc_2016_february_akbariankaljahi_arman.pdf">[+]</a>
        </p>
    </article>
    <article>
        <header>
            <h1>MSc, Computational Physics</h1>
            <span>University of British Columbia</span>
            <span><address>Vancouver, CA</address><time>2008 to 2010</time></span>
        </header>
        <p>
        Thesis: <em>Relative Stability in Critical Collapse
            of Massless Scalar Fields with Angular
        Momentum</em> <a target="_blank" href="http://laplace.phas.ubc.ca/People/matt/Doc/Theses/Msc/akbarian.pdf">[+]</a>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc, Mathematics & Physics (double major)</h1>
            <span>Sharif University of Technology</span>
            <span><address>Tehran, IR</address><time>2003 to 2008</time></span>
        </header>
    </article>


</section>
