<section class="thirteen columns">
    <h1>Experience</h1>
     <article>
        <header>
            <h1>Co-Founder and Data Scientist</h1>
            <span><address>Aida Software Corp., Vancouver, CA</address><time>2016 - present</time></span>
        </header>
        <p>
        Bringing a touch of AI to customer conversations.
        </p>
    </article>
 
     <article>
        <header>
            <h1>Data Science Fellow</h1>
            <span><address>The Data Incubator, San Fransisco, Bay Area</address><time>2016 - 2016</time></span>
        </header>
        <p>
        • Big Data Analytics | Distributed Machine Learning (Spark MLlib, MapReduce)
        </p>
        <p>
        • <semistrong>Semantic Search | Question-Answering Systems</semistrong>
        </p>
        <p>
        • <semistrong>Web Scraping | Social Network Analysis | ETL &amp; Large Scale Data Mining</semistrong>
        </p>
 
    </article>
 
     <article>
        <header>
            <h1>Data Scientist</h1>
            <span><address>Qi-Leap Analytics, Vancovuer, CA</address><time>2016 - 2016</time></span>
        </header>
        <p>
        • <semistrong>Recommendation systems for purchase data</semistrong>
        </p>
        <p>
        • <semistrong>Scalable collaborative filtering for implicit user data (transactions)</semistrong>
        </p>
        <p>
        • <semistrong>NLP inspired deep learning techniques for product embedding at cold-start phase</semistrong>
        </p>
 
    </article>
   
    <article>
        <header>
            <h1>Machine Learning Consultant</h1>
            <span><address>Consultant/Freelance, Vancovuer, CA</address><time>2015 to 2016</time></span>
        </header>
        <p>
         • <semistrong>Start-up Analytic Consultant | (Data Products and Statistical Modeling)
        </p>
        <p>
        • <semistrong>NLP & Text Mining:</semistrong> 
        </p>
        <p>
         • <semistrong>Time Series Analysis, Forecasting & Consumer Behaviour: </semistrong> 
        </p>
        <p>
        • <semistrong> Predictive Analytics: </semistrong> 
        </p>
    </article>
    <article>
 
    <article>
        <header>
            <h1>R&D | Large Scale Computing & Analytics</h1>
            <span><address>Numerical Relativity Group, UBC, Vancovuer, CA</address><time>2010 to 2015</time></span>
        </header>
        <p>• Conducted research in <semistrong> numerical relativity and computational physics</semistrong> </p>
        
    </article>
    <article>
        <header>
            <h1>CAP Associate / Teaching Assistant</h1>
            <span><address>University of British Columbia, Vancouver, CA</address><time>2009 to 2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Member of Scientific Committee</h1>
            <span><address>International Physics Olympiad, Isfahan, IR</address><time>2006 to 2007</time></span>
        </header>
    </article>
</section>
