<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research and Development</h1>
            <span><address>Vancovuer, CA</address><time>2010 to 2015</time></span>
        </header>
        <p>Research and development in numerical relativity group in UBC </p>
    </article>
    <article>
        <header>
            <h1>CAP Associate</h1>
            <span><address>Vancouver, CA</address><time>2009 to 2014</time></span>
        </header>
        <p>CAP associate</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of British Columbia, Vancouver, CA</address><time>2008 to 2014</time></span>
        </header>
        <p>TA WORK</p>
    </article>
</section>
