<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>Data Science | Machine Learning Engineering</h1>
            <span><address>Freelance, Vancovuer, CA</address><time>2015 to 2016</time></span>
        </header>
        <p>
        • <semistrong>NLP & Text Mining:</semistrong> Analyzed 200K+ documents (product description) and built a machine learning pipeline to score the relevance of customers’ search queries to the products. Using several NLP and text mining techniques combined with gradient boosted regression trees and ensembling, achieved a far better accuracy (60% improvement in RMSE toward the top benchmark, i.e. human rating of relevance) than standard techniques in text relevance—tf-idf algorithm for instance.
        <br> (Python Code, <a href="https://github.com/rmanak/search_relevance">https://github.com/rmanak/search_relevance</a>)
        </p>
        <p>
         • <semistrong>Time Series Analysis, Forecasting & Consumer Behaviour: </semistrong> 
        Analyzed sale history of 1K+ stores and built a regression model (GAM with local regression) combined with a boosted decision tree to predict sale across stores based on several factors including time trends, promotion, competition, etc. (Python & R Code, RMSE: ∼ 0.11)
        </p>
        <p>
        • <semistrong> Predictive Analytics: </semistrong> 
Using a gradient boosting decision tree, ensembling methods and 260K+ customers’ previous data, built a classifier with ∼ 97% accuracy (ROC) to predict which customer will purchase the insurance quote from a noisy unstructured data (R Code)
        </p>
    </article>
    <article>
 
    <article>
        <header>
            <h1>R&D | Large Scale Computing & Analytics</h1>
            <span><address>Numerical Relativity Group, UBC, Vancovuer, CA</address><time>2010 to 2015</time></span>
        </header>
        <p>• Conducting research in numerical relativity and computational physics  </p><p>

        • Implementing advanced numerical algorithms, and developing scientific computing tools for simulations of strong gravity objects such as black holes and studying the nonlinear physics. </p><p>
        • Applying high-performance computing facilities to parallelize compute-intensive calculations and speed up the computation by factors of 100-1000x. </p><p>

        • Designing high-level programming language  (FD Toolkit) to pose and solve complex sets of PDEs using finite difference techniques and to implement rapid workflows for developing the diagnostic facilities. </p><p>

        • Enhancing the computation efficiency using optimization algorithms such as adaptive mesh refinement, multigrid, and non-uniform grid distribution. </p><p>

        • Analyzing the scientific results using statistical data analysis methods and visualization tools.   </p><p>

        • Collaborate in team projects, create reports and publish the scientific results in peer-reviewed journals, explain the complex aspects of the research work in several presentations. </p>
    </article>
    <article>
        <header>
            <h1>CAP Associate / Teaching Assistant</h1>
            <span><address>University of British Columbia, Vancouver, CA</address><time>2009 to 2014</time></span>
        </header>
        <p>• Providing lectures and assistance with computational physics course. Performing system administration tasks for setting up the scientific computing environment for students. </p><p>
        • Designing exam problems and evaluating results for Canadian Association of Physics' national physics olympiad. </p><p>
        • Mentoring students in the final projects and improving their problem solving and programming skills.</p>
    </article>
    <article>
        <header>
            <h1>Member of Scientific Committee</h1>
            <span><address>International Physics Olympiad, Isfahan, IR</address><time>2006 to 2007</time></span>
        </header>
        <p>• Collaborating with the scientific committee in designing the theoretical and experimental exam for the 38th International Physics Olympiad with more than 50 participating countries.</p><p>
        • Assisting the committee in assembling and operating the experimental exam.</p><p>
        • Demonstrating the experimental setup to the leaders of the teams and providing technical explanations in the functionality of the instrument and performing the measurements. </p>
    </article>
</section>
