<section class="thirteen columns">
<h1>Presentations</h1>

<p>October 2015 &nbsp;&nbsp;&nbsp; - <em>&#8220; Numerical Studies in Gravitational Collapse&#8221;</em>, UBC, Vancouver</p>

<p>July 2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - <em>&#8220; Computational Astrophysics and Numerical Relativity&#8221;</em>, HPC summer school, Budapest</p>

<p>March 2014 &nbsp; -  <em>&#8220; Finite Differencing in Maple &#8221;</em>, Numerical Relativity,
UBC, Vancouver</p>

<p>March 2013 &nbsp; - <em>&#8220; Einstein-Vlasov system and critical collapse &#8221;</em>,
Gravity Seminars, UBC, Vancover</p>

<p>October 2010 - <em>&#8220; Relative Stability in critical collapse of two scalar
fields&#8221;</em>, Gravity Seminars, UBC, Vancouver</p>

</section>
