<section class="thirteen columns">
    <h1>Projects</h1>
     <article>
        <header>
            <h1>FD: Finite Difference Simulation Toolkit</h1>
            <span><address>UBC Laplace, Vancouver, CA</address><time>2014</time></span>
        </header>
        <p>
        FD is an open source high-level markup programming language that allows specifying a PDE over a discretized domain and automatically generating low-level language codes to solve it in parallel on HPC resources.
        </p>
        <p>
        <a href="http://rmanak.github.io/FD/" target="_blank">http://rmanak.github.io/FD/</a>
        </p>
    </article>
</section>
