<section class="thirteen columns">
    <h1>Publications</h1>
    
<p>(1) Akbarian A., Choptuik M., <em>&#8220;Black hole critical behaviour with the
generalized BSSN formulation&#8221;</em>  <br />
 &nbsp; &nbsp; &nbsp; <a href="http://journals.aps.org/prd/abstract/10.1103/PhysRevD.92.084037">Phys. Rev. D 92, 084037, (2015)</a>, 
e-Print: <a href="http://arxiv.org/abs/1508.01614">gr-qc:1508.01614</a>, </p>

<p>(2) Akbarian A., Choptuik M., <em>&#8220;Critical collapse in the
spherically-symmetric Einstein-Vlasov model &#8221;</em>, <br />
 &nbsp; &nbsp; &nbsp; <a href="http://journals.aps.org/prd/abstract/10.1103/PhysRevD.90.104023">Phys. Rev. D 90, 104023, (2014)</a>,
e-Print: <a href="http://arxiv.org/abs/1409.5176">gr-qc:1409.5176</a></p>

<p>(3) Akbarian A., Choptuik M., <em>&#8220;Relative Stability in Critical Collapse of Two
Scalar Fields with Angular Momentum &#8221;</em>,
 &nbsp; &nbsp;  &nbsp; <a href="https://circle.ubc.ca/handle/2429/30303">M. Sc. Thesis [+]</a> (2010)</p>

<p>(4) Akbarian A., <em>&#8220;Study of Gravitational Waves in Planar
Symmetry Using BSSN and Generalized
Harmonic Formulation of Einstein Equation&#8221;</em>
<a href="http://laplace.physics.ubc.ca/People/arman/files/Intro-to-BSSN-and-GHD.pdf">[+]</a></p>

<p>(5) Akbairan A., <em>FD: Finite Difference Toolkit</em> <a href="FD_doc">[+]</a></p>

</section>
