<section class="thirteen columns">
    <h1>Technical Expertise & Skills</h1>
    <article>
        <header>
            <h1>Skills:</h1>
        </header>
        <p>
        - Statistical modeling and inference (Bayesian &amp; frequentist), hypothesis testing, Monte Carlo simulations<br>
        - Machine Learning: regression, classification (logistic reg., neural networks, SVM, decision trees), clustering, recommendation systems <br>
        - Natural Language processing, text mining and retrieval, big data analytics 
        </p>
    </article>

    <article>
        <header>
            <h1>Languages and Tools:</h1>
        </header>
        <p>
            - <em>Python, C/C++, shell scripting (Perl & Bash), MPI (parallel computing APIs), Git &amp; Maple </em>
        <p>
        <p>
            - <em>Python's ML & distributed analytics libraries: Scikit-learn, NLTK, TensorFlow, Apache Spark &amp; Hadoop/MapReduce</em>
        <p>
            - <em>Other languages &amp; tools: SQL, R, Matlab, OpenACC &amp; OpenMP</em>
        </p>
        <p>
            - <em>HTML/CSS3/Javascript, Flask, Bokeh &amp; Cloud Web Applications (Heroku, AWS)</em>
        </p>
    </article>
</section>
